<?xml version="1.0" encoding="UTF-8"?>
<skk>
  <section name="dictionary">
    <list />
  </section>
  <section name="behavior">
    <key name="defaultmode" value="0" />
    <key name="defmodeascii" value="0" />
    <key name="begincvokuri" value="1" />
    <key name="precedeokuri" value="0" />
    <key name="shiftnnokuri" value="1" />
    <key name="srchallokuri" value="0" />
    <key name="delcvposcncl" value="1" />
    <key name="delokuricncl" value="0" />
    <key name="backincenter" value="1" />
    <key name="compmultinum" value="3" />
    <key name="stacompmulti" value="0" />
    <key name="dynamiccomp" value="0" />
    <key name="dyncompmulti" value="0" />
    <key name="compuserdic" value="0" />
  </section>
  <section name="font">
    <key name="name" value="メイリオ" />
    <key name="size" value="12" />
    <key name="weight" value="400" />
    <key name="italic" value="0" />
  </section>
  <section name="display">
    <key name="maxwidth" value="800" />
    <key name="colorbg" value="0xFFFFFF" />
    <key name="colorfr" value="0x000000" />
    <key name="colorse" value="0xFF0000" />
    <key name="colorco" value="0x808080" />
    <key name="colorca" value="0x000000" />
    <key name="colorsc" value="0x808080" />
    <key name="coloran" value="0x808080" />
    <key name="colorno" value="0x000000" />
    <key name="drawapi" value="0" />
    <key name="colorfont" value="0" />
    <key name="untilcandlist" value="5" />
    <key name="dispcandno" value="0" />
    <key name="verticalcand" value="0" />
    <key name="annotation" value="1" />
    <key name="annotatlst" value="0" />
    <key name="showmodeinl" value="0" />
    <key name="showmodeimm" value="1" />
    <key name="showmodemark" value="1" />
    <key name="showroman" value="1" />
  </section>
  <section name="displayattr">
    <key name="inputmark" value="0,0,0x000000,0,0xFFFFFF,2,0,0,0x000000,0" />
    <key name="inputtext" value="1,0,0x000000,0,0xFFFFFF,2,0,0,0x000000,0" />
    <key name="inputokuri" value="0,0,0x000000,0,0xFFFFFF,3,0,0,0x000000,5" />
    <key name="convmark" value="0,0,0x000000,0,0xFFFFFF,1,0,0,0x000000,1" />
    <key name="convtext" value="1,0,0x000000,0,0xFFFFFF,0,0,0,0x000000,1" />
    <key name="convokuri" value="1,0,0x000000,0,0xFFFFFF,1,0,0,0x000000,5" />
    <key name="convannot" value="0,0,0x000000,0,0xFFFFFF,3,0,0,0x000000,2" />
  </section>
  <section name="selkey">
    <key name="1" value="Aa" />
    <key name="2" value="Ss" />
    <key name="3" value="Dd" />
    <key name="4" value="Ff" />
    <key name="5" value="Jj" />
    <key name="6" value="Kk" />
    <key name="7" value="Ll" />
    <key name="8" value="Gg" />
    <key name="9" value="Hh" />
  </section>
  <section name="preservedkeyon">
    <list>
      <row vkey="0xC0" mkey="1" />
      <row vkey="0x19" mkey="0" />
      <row vkey="0xF3" mkey="0" />
      <row vkey="0xF4" mkey="0" />
    </list>
  </section>
  <section name="preservedkeyoff">
    <list>
      <row vkey="0xC0" mkey="1" />
      <row vkey="0x19" mkey="0" />
      <row vkey="0xF3" mkey="0" />
      <row vkey="0xF4" mkey="0" />
    </list>
  </section>
  <section name="keymap">
    <key name="affix" value="&lt;|>" />
    <key name="nextcand" value="\x20|\cn" />
    <key name="prevcand" value="x|\cp" />
    <key name="purgedic" value="X|\cx" />
    <key name="nextcomp" value="\ci" />
    <key name="prevcomp" value="\cu" />
    <key name="hint" value="" />
    <key name="convpoint" value="" />
    <key name="direct" value="[0-9]" />
    <key name="enter" value="\cm|\cj" />
    <key name="cancel" value="\cg|\x1B" />
    <key name="back" value="\ch" />
    <key name="delete" value="\cd|\x7F" />
    <key name="void" value="" />
    <key name="left" value="\cb" />
    <key name="up" value="\ca" />
    <key name="right" value="\cf" />
    <key name="down" value="\ce" />
    <key name="paste" value="\cy|\cv" />
  </section>
  <section name="vkeymap">
    <key name="affix" value="" />
    <key name="nextcand" value="" />
    <key name="prevcand" value="" />
    <key name="purgedic" value="" />
    <key name="nextcomp" value="" />
    <key name="prevcomp" value="S\x09" />
    <key name="hint" value="" />
    <key name="convpoint" value="" />
    <key name="direct" value="" />
    <key name="enter" value="" />
    <key name="cancel" value="" />
    <key name="back" value="" />
    <key name="delete" value="\x2E" />
    <key name="void" value="C\x4A" />
    <key name="left" value="\x25" />
    <key name="up" value="\x26" />
    <key name="right" value="\x27" />
    <key name="down" value="\x28" />
    <key name="paste" value="" />
  </section>
  <section name="convpoint">
    <list>
      <row st="A" al="a" ok="a" />
      <row st="B" al="b" ok="b" />
      <row st="C" al="c" ok="c" />
      <row st="D" al="d" ok="d" />
      <row st="E" al="e" ok="e" />
      <row st="F" al="f" ok="f" />
      <row st="G" al="g" ok="g" />
      <row st="H" al="h" ok="h" />
      <row st="I" al="i" ok="i" />
      <row st="J" al="j" ok="j" />
      <row st="K" al="k" ok="k" />
      <row st="L" al="l" ok="l" />
      <row st="M" al="m" ok="m" />
      <row st="N" al="n" ok="n" />
      <row st="O" al="o" ok="o" />
      <row st="P" al="p" ok="p" />
      <row st="Q" al="q" ok="q" />
      <row st="R" al="r" ok="r" />
      <row st="S" al="s" ok="s" />
      <row st="T" al="t" ok="t" />
      <row st="U" al="u" ok="u" />
      <row st="V" al="v" ok="v" />
      <row st="W" al="w" ok="w" />
      <row st="X" al="x" ok="x" />
      <row st="Y" al="y" ok="y" />
      <row st="Z" al="z" ok="z" />
    </list>
  </section>
  <section name="kana">
    <list>
      <row ro="a" hi="아" so="0" />
      <row ro="i" hi="이" so="0" />
      <row ro="u" hi="우" so="0" />
      <row ro="e" hi="에" so="0" />
      <row ro="o" hi="오" so="0" />
      <row ro="pa" hi="빠" so="0" />
      <row ro="pi" hi="삐" so="0" />
      <row ro="pu" hi="뿌" so="0" />
      <row ro="pe" hi="뻬" so="0" />
      <row ro="po" hi="뽀" so="0" />
      <row ro="ba" hi="바" so="0" />
      <row ro="bi" hi="비" so="0" />
      <row ro="bu" hi="부" so="0" />
      <row ro="be" hi="베" so="0" />
      <row ro="bo" hi="보" so="0" />
      <row ro="va" hi="바" so="0" />
      <row ro="vi" hi="비" so="0" />
      <row ro="vu" hi="부" so="0" />
      <row ro="ve" hi="베" so="0" />
      <row ro="vo" hi="보" so="0" />
      <row ro="fa" hi="파" so="0" />
      <row ro="fi" hi="피" so="0" />
      <row ro="fu" hi="푸" so="0" />
      <row ro="fe" hi="페" so="0" />
      <row ro="fo" hi="포" so="0" />
      <row ro="ma" hi="마" so="0" />
      <row ro="mi" hi="미" so="0" />
      <row ro="mu" hi="무" so="0" />
      <row ro="me" hi="메" so="0" />
      <row ro="mo" hi="모" so="0" />
      <row ro="ta" hi="타" so="0" />
      <row ro="ti" hi="티" so="0" />
      <row ro="tu" hi="투" so="0" />
      <row ro="te" hi="테" so="0" />
      <row ro="to" hi="토" so="0" />
      <row ro="da" hi="다" so="0" />
      <row ro="di" hi="디" so="0" />
      <row ro="du" hi="두" so="0" />
      <row ro="de" hi="데" so="0" />
      <row ro="do" hi="도" so="0" />
      <row ro="tsa" hi="짜" so="0" />
      <row ro="tsi" hi="찌" so="0" />
      <row ro="tsu" hi="쭈" so="0" />
      <row ro="tse" hi="쩨" so="0" />
      <row ro="tso" hi="쪼" so="0" />
      <row ro="za" hi="자" so="0" />
      <row ro="zi" hi="지" so="0" />
      <row ro="zu" hi="주" so="0" />
      <row ro="ze" hi="제" so="0" />
      <row ro="zo" hi="조" so="0" />
      <row ro="sa" hi="사" so="0" />
      <row ro="si" hi="시" so="0" />
      <row ro="su" hi="수" so="0" />
      <row ro="se" hi="세" so="0" />
      <row ro="so" hi="소" so="0" />
      <row ro="swa" hi="따" so="0" />
      <row ro="swi" hi="띠" so="0" />
      <row ro="swe" hi="떼" so="0" />
      <row ro="swo" hi="또" so="0" />
      <row ro="txa" hi="차" so="0" />
      <row ro="txi" hi="치" so="0" />
      <row ro="txe" hi="체" so="0" />
      <row ro="txo" hi="초" so="0" />
      <row ro="ja" hi="까" so="0" />
      <row ro="ji" hi="끼" so="0" />
      <row ro="je" hi="께" so="0" />
      <row ro="jo" hi="꼬" so="0" />
      <row ro="xa" hi="싸" so="0" />
      <row ro="xi" hi="씨" so="0" />
      <row ro="xe" hi="쎄" so="0" />
      <row ro="xo" hi="쏘" so="0" />
      <row ro="na" hi="나" so="0" />
      <row ro="ni" hi="니" so="0" />
      <row ro="nu" hi="누" so="0" />
      <row ro="ne" hi="네" so="0" />
      <row ro="no" hi="노" so="0" />
      <row ro="la" hi="라" so="0" />
      <row ro="li" hi="리" so="0" />
      <row ro="lu" hi="루" so="0" />
      <row ro="le" hi="레" so="0" />
      <row ro="lo" hi="로" so="0" />
      <row ro="ka" hi="카" so="0" />
      <row ro="ki" hi="키" so="0" />
      <row ro="ku" hi="쿠" so="0" />
      <row ro="ke" hi="케" so="0" />
      <row ro="ko" hi="코" so="0" />
      <row ro="ga" hi="가" so="0" />
      <row ro="gi" hi="기" so="0" />
      <row ro="gu" hi="구" so="0" />
      <row ro="ge" hi="게" so="0" />
      <row ro="go" hi="고" so="0" />
      <row ro="ha" hi="하" so="0" />
      <row ro="hi" hi="히" so="0" />
      <row ro="hu" hi="후" so="0" />
      <row ro="he" hi="헤" so="0" />
      <row ro="ho" hi="호" so="0" />
      <row ro="wa" hi="와" so="0" />
      <row ro="wi" hi="의" so="0" />
      <row ro="we" hi="웨" so="0" />
      <row ro="wo" hi="워" so="0" />
      <row ro="wu" hi="우" so="0" />
      <row ro="swu" hi="수" so="0" />
      <row ro="ya" hi="야" so="0" />
      <row ro="yu" hi="위" so="0" />
      <row ro="ye" hi="예" so="0" />
      <row ro="yo" hi="요" so="0" />
      <row ro="pya" hi="뺘" so="0" />
      <row ro="pyu" hi="쀠" so="0" />
      <row ro="pye" hi="뼤" so="0" />
      <row ro="pyo" hi="뾰" so="0" />
      <row ro="bya" hi="뱌" so="0" />
      <row ro="byu" hi="뷔" so="0" />
      <row ro="bye" hi="볘" so="0" />
      <row ro="byo" hi="뵤" so="0" />
      <row ro="vya" hi="뱌" so="0" />
      <row ro="vyu" hi="뷔" so="0" />
      <row ro="vye" hi="볘" so="0" />
      <row ro="vyo" hi="뵤" so="0" />
      <row ro="fya" hi="퍄" so="0" />
      <row ro="fyu" hi="퓌" so="0" />
      <row ro="fye" hi="폐" so="0" />
      <row ro="fyo" hi="표" so="0" />
      <row ro="mya" hi="먀" so="0" />
      <row ro="myu" hi="뮈" so="0" />
      <row ro="mye" hi="몌" so="0" />
      <row ro="myo" hi="묘" so="0" />
      <row ro="tya" hi="탸" so="0" />
      <row ro="tyu" hi="튀" so="0" />
      <row ro="tye" hi="톄" so="0" />
      <row ro="tyo" hi="툐" so="0" />
      <row ro="dya" hi="댜" so="0" />
      <row ro="dyu" hi="뒤" so="0" />
      <row ro="dye" hi="뎨" so="0" />
      <row ro="dyo" hi="됴" so="0" />
      <row ro="tsya" hi="쨔" so="0" />
      <row ro="tsyu" hi="쮜" so="0" />
      <row ro="tsye" hi="쪠" so="0" />
      <row ro="tsyo" hi="쬬" so="0" />
      <row ro="zya" hi="쟈" so="0" />
      <row ro="zyu" hi="쥐" so="0" />
      <row ro="zye" hi="졔" so="0" />
      <row ro="zyo" hi="죠" so="0" />
      <row ro="sya" hi="샤" so="0" />
      <row ro="syu" hi="쉬" so="0" />
      <row ro="sye" hi="셰" so="0" />
      <row ro="syo" hi="쇼" so="0" />
      <row ro="nya" hi="냐" so="0" />
      <row ro="nyu" hi="뉘" so="0" />
      <row ro="nye" hi="녜" so="0" />
      <row ro="nyo" hi="뇨" so="0" />
      <row ro="lya" hi="랴" so="0" />
      <row ro="lyu" hi="뤼" so="0" />
      <row ro="lye" hi="례" so="0" />
      <row ro="lyo" hi="료" so="0" />
      <row ro="kya" hi="캬" so="0" />
      <row ro="kyu" hi="퀴" so="0" />
      <row ro="kye" hi="켸" so="0" />
      <row ro="kyo" hi="쿄" so="0" />
      <row ro="gya" hi="갸" so="0" />
      <row ro="gyu" hi="귀" so="0" />
      <row ro="gye" hi="계" so="0" />
      <row ro="gyo" hi="교" so="0" />
      <row ro="hya" hi="햐" so="0" />
      <row ro="hyu" hi="휘" so="0" />
      <row ro="hye" hi="혜" so="0" />
      <row ro="hyo" hi="효" so="0" />
      <row ro="n" hi="은" so="0" />
      <row ro="nn" hi="은" so="0" />
      <row ro="k" hi="읏" so="0" />
      <row ro="kk" hi="읏" so="0" />
      <row ro="0" hi="0" so="0" />
      <row ro="1" hi="1" so="0" />
      <row ro="2" hi="2" so="0" />
      <row ro="3" hi="3" so="0" />
      <row ro="4" hi="4" so="0" />
      <row ro="5" hi="5" so="0" />
      <row ro="6" hi="6" so="0" />
      <row ro="7" hi="7" so="0" />
      <row ro="8" hi="8" so="0" />
      <row ro="9" hi="9" so="0" />
      <row ro=" " hi=" " so="0" />
      <row ro="!" hi="！" so="0" />
      <row ro="&quot;" hi="&quot;" so="0" />
      <row ro="#" hi="#" so="0" />
      <row ro="$" hi="$" so="0" />
      <row ro="%" hi="%" so="0" />
      <row ro="&amp;" hi="&amp;" so="0" />
      <row ro="'" hi="'" so="0" />
      <row ro="(" hi="(" so="0" />
      <row ro=")" hi=")" so="0" />
      <row ro="*" hi="*" so="0" />
      <row ro="+" hi="+" so="0" />
      <row ro="," hi="、" so="0" />
      <row ro="-" hi="ー" so="0" />
      <row ro="." hi="。" so="0" />
      <row ro="/" hi="/" so="0" />
      <row ro=":" hi=":" so="0" />
      <row ro=";" hi=";" so="0" />
      <row ro="&lt;" hi="&lt;" so="0" />
      <row ro="=" hi="=" so="0" />
      <row ro=">" hi=">" so="0" />
      <row ro="?" hi="？" so="0" />
      <row ro="@" hi="@" so="0" />
      <row ro="[" hi="「" so="0" />
      <row ro="\" hi="\" so="0" />
      <row ro="]" hi="」" so="0" />
      <row ro="^" hi="^" so="0" />
      <row ro="_" hi="_" so="0" />
      <row ro="`" hi="`" so="0" />
      <row ro="{" hi="{" so="0" />
      <row ro="|" hi="|" so="0" />
      <row ro="}" hi="}" so="0" />
      <row ro="~" hi="~" so="0" />
    </list>
  </section>
</skk>
